
#first {
    height: 80px;
    width: 50%;
    background-color: aqua;
    margin-top: 50px;
    margin-left: 25%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

}

.second1 {
    font-size: 20px;
    font-weight: 600;

}

#second {
    margin-left: 23%;
    cursor: pointer;
}

#search-box {
    margin-left: 25%;
    margin-top: 1rem;

}