.container {
    width: 1200px;
    margin: auto;
}

.custom-button {
    display: flex;
    justify-content: flex-end;

    .btn {
        padding: 5px;
        background-color: aqua;
    }
}

.search {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.table {
    margin-top: 1rem;
    border-collapse: collapse;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .tableData {
        border: 0.5px solid black;
        margin-top: 5px;
        text-align: center;
    }

    th {
        background-color: antiquewhite;
    }

    i {
        color: black;
    }
}